<div class="my-5 splash">
  <div class="p-5 text-center">
    <div class="container py-5">
      <h1 class="text-body-emphasis azul">Full-width jumbotron</h1>
      <p class="col-lg-8 mx-auto lead azul">
        This takes the basic jumbotron above and makes its background edge-to-edge with a <code>.container</code> inside to align content. Similar to above, it's been recreated with built-in grid and utility classes.
      </p>
    </div>
  </div>
</div>